.button{
  transform: translate(-50%, -50%);
  background: blue;
  border: none;
  color: white;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  transition: all 0.5s;
}
.button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span::after{
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0px;
  right: -20px;
  transition: 0.5s;
}
.button:hover span{
  padding-right: 25px;
}
.button:hover span::after{
  opacity: 1;
  right: 0px;
}